product-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
    width: 156px;
}

.card__img{
    width: 100%;
    height: 174px;
    object-fit: cover;
}

.card__titile{
    font-size: 14px;
    font-weight: 500;
    color: var(--color-gray);
}

.card__price{
    font-size: 16px;
    font-weight: 700;
    color: var(--color-gray);
}

.card__link{
    font-size: 14px;
    font-weight: 700;
    color: var(--color-blue);
}

.btns__img__container{
    position: relative;
}

.btns__container{
    position: absolute;
    padding: 5px;
    right: 0;
    z-index: 999;
    color: var(--color-white);
}

.delete__btn{
    color: var(--color-white);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Ajusta el valor alpha para cambiar la intensidad */
  }