search-products{
    display: flex;
    justify-content: flex-end;
}

.search__input{
    display: none;
    transition: all .5s ease-in-out;
}

.search__button{
    color: var(--color-gray-light);
}

.nav__search{
    transition: all .5s ease-in-out;
    height: 40px;
    display: flex;
    align-items: center;
}


/* ACTIVE SIRVE PARA CUANDO SE DE CLICK EN EL BOTON SE MUESTRE EL SEARCH EN RESPONSIVE */
.nav__search.active{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 272px;
    padding: 0 10px;
    height: 40px;
    border-radius: 20px;
    background-color: var(--bg-gray-light);
}

.search__input.active{
    display: flex;
    border: none;
    background: none;
    width: 100%;
}

/* --------------------------------------- */

/* SEARCH SIRVE PARA CUANDO HAYAN BUSQUEDAS */

.nav__search.search{
    border-radius: 10px 10px 0 0;
}


/* LISTA DE PRODUCTOS MINI VISTA */

.product__list{
    position: absolute;
    top: 56px;
    width: 50%;
    max-height: 250px;
    overflow: auto;
    border-radius: 10px 0 0 10px;
    box-shadow: 2px 32px 43px -33px rgba(0,0,0,0.51);
    -webkit-box-shadow: 2px 32px 43px -33px rgba(0,0,0,0.51);
    -moz-box-shadow: 2px 32px 43px -33px rgba(0,0,0,0.51);
}

.search__item{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 10px;
    background-color: var(--bg-gray-light);
}

.search__img{
    width: 50%;
    height: 50px;
    object-fit: contain;
}

.search__item__name{
    width: 50%;
}

/* ----------------- SCROLL ---------------------- */

/* Para navegadores basados en WebKit (como Chrome y Safari) */
.product__list::-webkit-scrollbar {
    width: 12px;
}

.product__list::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 0 0 10px 0;
}

.product__list::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

/* Para navegadores que soportan el nuevo estándar (como Firefox) */
.product__list {
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
}


@media screen and (min-width: 768px) {

    search-products{
        width: 100%;
        justify-content: flex-start;
    }

    .nav__search{
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 272px;
        padding: 0 10px;
        height: 40px;
        border-radius: 20px;
        background-color: var(--bg-gray-light);
    }

    .search__input{
        display: flex;
        border: none;
        background: none;
        width: 100%;
    }

    .product__list{
    border-radius: 0 10px 10px 10px;
    }

    .product__list::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 0 10px 10px 0;
    }

}