search-products{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
}

.search__input{
    display: none;
}

.search__button{
    color: var(--color-gray-light);
    height: 40px;
    display: flex;
    align-items: center;
}

/*  */

.nav__search{
    transition: all .5s ease-in-out;
}

.nav__search.active{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border-radius: 20px;
    background-color: var(--bg-gray-light);
    max-width: 272px;
    padding: 0 10px;
    transition: all .5s ease-in-out;
}

/* .nav__search-active{
    border-radius: 20px 20px 0 0;
} */

.search__input.active{
    display: flex;
    border: none;
    background: none;
}



/* VIEW ITEM CONTAINER */

.nav__search__container{
    display: grid;
}

.search__items{
    position: absolute;
    top: 30px;
    max-height: 250px;
    overflow: auto;
    width: 100%;
    max-width: 272px;
    border-radius: 10px;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}

.search__items-inner {
    border-radius: 0 0 0 10px;
    overflow: hidden; /* Esto evita que el contenido con border-radius se desborde y corte el scrollbar */
  }

.search__item{
    display: flex;
    gap: 5px;
    padding: 10px;
    background-color: var(--bg-gray-light);
}

.search__img{
    width: 50%;
    height: 50px;
    object-fit: cover;
}

/* SCROLL  */

/* Para navegadores basados en WebKit (como Chrome y Safari) */
.search__items::-webkit-scrollbar {
    width: 12px;
  }
  
  .search__items::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 0 10px 10px 0;
  }
  
  .search__items::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }
  
  /* Para navegadores que soportan el nuevo estándar (como Firefox) */
  .search__items {
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
  }
  

@media screen and (min-width: 768px) {

    search-products{
        display: flex;
        justify-content: flex-start;
        width: 100%;
    }

    .nav__search{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        border-radius: 20px;
        background-color: var(--bg-gray-light);
        max-width: 272px;
    }

    .nav__search-active{
        border-radius: 20px 20px 0 0;
    }

    .search__input{
        display: flex;
        border: none;
        background: none;
    }
}