searched-products{
    display: flex;
    flex-direction: column;
    padding: 32px;
    gap: 16px;
    transition: all .5s ease-in-out;
}

.search__found-title{
    font-size: 22px;
    font-weight: 700;
}

.search__found-products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
}

@media screen and (min-width: 768px) {

    .search__found-products{
        justify-content: flex-start;
    }
    
}

@media screen and (min-width: 1220px) {
    
    searched-products{
        padding: 64px 128px;
    }

}