.bycategory{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 32px;
    background-color: var(--bg-gray-light);
}

.bycategory__header{
    display: flex;
}

.bycategory__title__category{
    font-size: 22px;
    font-weight: 700;
    color: var(--color-gray);
}

.bycategory__container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 16px;
    gap: 16px;
    justify-content: center;
}

@media screen and (min-width: 545px) {
    .bycategory__container{
        justify-content: flex-start;
    }
}

@media screen and (min-width: 1024px) {

    .bycategory{
        padding: 64px 128px;
    }

}