.contact{
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 16px;
    background-color: var(--bg-blue-light);
}

.links__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.contact__img{
    width: 176px;
    height: 50px;
}

.links__list{
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;
}

.link__item{
    font-weight: 500;
    font-size: 16px;
    color: var(--color-gray);
}

.form{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form__title{
    font-weight: 700;
    font-size: 16px;
}

.form__container{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.input__container{
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    height: 56px;
    padding: 7px 12px;
    justify-content: center;
    gap: 4px;
    border-bottom: 2px solid var(--border-input);
    border-radius: 10px;
}

.input__title{
    font-weight: 400;
    font-size: 12px;
    color: var(--color-gray-light);
}

.input__name{
    outline: none;
    border: none;
    color: var(--color-gray);
}

.form__textarea{
    outline: none;
    border: none;
    resize: none;
    border-bottom: 2px solid var(--border-input);
    border-radius: 10px;
    height: 82px;
    padding: 16px 12px;
    font-weight: 400;
    font-size: 16px;
}

.form__button{
    width: 133px;
    height: 40px;
    background-color: var(--color-blue);
    color: var(--color-white);
    font-weight: 600;
    font-size: 14px;
}

@media screen and (min-width: 768px) {
    
    .contact{
        flex-direction: row;
        padding: 32px;
    }

    .links__container{
        width: 33.3%;
    }

    .form{
        width: 66.6%;
    }

    .links__container{
        align-items: flex-start;
    }

    .links__list{
        text-align: start;
        gap: 32px;
    }

}

@media screen and (min-width: 1220px) {

    .contact{
        padding: 64px 152px;
        gap: 112px;
    }

    .links__container{
        flex-direction: row;
        gap: 112px;
        width: 50%;
    }

    .form{
        width: 50%
    }

    .form__button{
        width: 144px;
        height: 51px;
        font-weight: 400;
        font-size: 16px;
    }
    
}