@import url("/src/css/reset.css");
@import url("/src/css/nav.css");
@import url("/src/css/header.css");
@import url("/src/css/main.css");
@import url("/src/css/contact.css");
@import url("/src/css/footer.css");
@import url("/src/css/loading.css");
@import url("/src/css/error.css");
@import url("/src/css/login.css");
@import url("/src/css/allbycategory.css");
@import url("/src/css/register.css");
@import url("/src/css/modal.css");
@import url("/src/css/viewproduct.css");

@import url("/src/css/product-card.css");
@import url("/src/css/addproduct.css");

:root{

    --color-white: #FFFFFF;
    --color-blue: #2A7AE4;
    --color-blue-bold: #1b5198;
    --color-gray: #464646;
    --color-gray-light: #A2A2A2;
    --bg-gray: #F5F5F5;
    --bg-gray-light: #F5F5F5;
    --bg-gray-light-transparent: #f5f5f53b;
    --bg-blue-light: #EAF2FD;
    --border-input: #C8C8C8;

}

body, textarea{
    font-family: 'Raleway';
}