@import url("/src/css/reset.css");
@import url("/src/css/nav.css");
@import url("/src/css/header.css");
@import url("/src/css/products.css");
@import url("/src/css/contact.css");
@import url("/src/css/footer.css");
@import url("/src/css/loading.css");
@import url("/src/css/error.css");

:root{

    --color-white: #FFFFFF;
    --color-blue: #2A7AE4;
    --color-gray: #464646;
    --color-gray-light: #A2A2A2;
    --bg-gray: #F5F5F5;
    --bg-blue-light: #EAF2FD;
    --border-input: #C8C8C8;

}

body, textarea{
    font-family: 'Raleway';
}