@import url("/src/css/reset.css");
@import url("/src/css/nav.css");
@import url("/src/css/header.css");
@import url("/src/css/products.css");

:root{

    --color-white: #FFFFFF;
    --color-blue: #2A7AE4;
    --color-gray: #464646;
    --color-gray-light: #A2A2A2;
    --bg-gray: #F5F5F5;

}

body{
    font-family: 'Raleway';
}