.products__container{
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 16px;
    color: var(--color-gray);
}

.products__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.products__title{
    font-weight: 700;
    font-size: 22px;
}

.products__link{
    display: flex;
    align-items: center;
    gap: 4px;
    font-weight: 700;
    font-size: 14px;
    color: var(--color-blue);
}

.products__link:hover{
    color: var(--color-blue-bold);
}

.products__link i{
    font-size: 16px;
}

/* ITEMS ITEMS ITEMS ITEMS */

.items {
    display: flex;
    flex-wrap: wrap;
    padding-top: 16px;
    gap: 16px;
    justify-content: center;
}

.item {
    width: 144px;
    padding-bottom: 16px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 8px;
}

.item__img__container{
    height: 174px;
}

.item__img{
    width: 100%;
    height: 174px;
    object-fit: cover;
}

.item__info{
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 100%;
}

.item__price{
    color: var(--color-gray);
    font-size: 16px;
    font-weight: 700;
}

.item__link{
    color: var(--color-blue);
    font-size: 16px;
    font-weight: 700;
}


@media screen and (min-width: 512px) {
    .items{
        justify-content: flex-start;
    }
}

@media screen and (min-width: 768px) {

    .products__container{
        padding: 32px;
        gap: 32px;
    }
    
}

@media screen and (min-width: 1024px) {

    .products__container{
        padding: 64px 152px;
        gap: 64px;
    }

}