.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--bg-gray-light-transparent);
    opacity: 0;
    transition: opacity .6s;
    display: flex;
}

.modal.show{
    opacity: 1;
    pointer-events: unset;
    transition: opacity .6s;
}

.modal__container{
    margin: auto;
    background-color: var(--bg-blue-light);
    padding: 3rem;
    border-radius: 10px;
}

.modal__title{
    display: flex;
    align-items: center;

}