.nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
}

.logo__img{
    width: 100px;
    height: 28px;
}

.nav__login__search{
    display: flex;
    align-items: center;
    gap: 8px;
}

.nav__login{
    display: flex;
    gap: 8px;
}

.login__button, .register__button, .logout__button, .panel__button{
    display: none;
    justify-content: center;
    align-items: center;
    width: 133px;
    height: 40px;
    border: 1px solid var(--color-blue);
    color: var(--color-blue);
    font-weight: 600;
    font-size: 14px;
    transition: all .3s ease-in-out;
    text-align: center;
}

.login__button:hover, .register__button:hover, .logout__button:hover, .panel__button:hover{
    color: var(--color-white);
    background-color: var(--color-blue);
}

.search__input{
    display: none;
}

.search__button{
    font-size: 24px;
    color: var(--color-gray);
}

@media screen and (min-width: 768px) {

    .nav{
        flex-direction: row;
        gap: 8px;
        padding: 16px 32px;
    }

    .nav__login__search{
        width: 100%;
        justify-content: space-between;
    }
    
    .nav__login{
        order: 3;
    }

    .login__button, .register__button, .logout__button, .panel__button{
        width: 166px;
    }

    .nav__search{
        order: 2;
    }

    .search__container{
        display: flex;
        align-items: center;
        background-color: var(--bg-gray);
        padding: 8px 16px;
        border-radius: 50px;
        gap: 8px;
    }

    .search__input{
        display: block;
        border: none;
        background: none;
    }

    .search__input:focus{
        outline: none;
    }

    .search__button{
        color: var(--color-gray-light);
    }

}

@media screen and (min-width: 820px) {

    .nav{
        gap: 32px;
    }
    
}

@media screen and (min-width: 1220px) {
    
    .nav{
        padding: 32px 152px;
        gap: 32px;
    }

    .logo__img{
        width: 176px;
        height: 50px;
    }

    .search__container{
        /* width: 393px; */
    }

    .search__input{
        /* width: 329px; */
    }

    .login__button, .register__button, .logout__button, .panel__button{
        width: 182px;
        font-size: 16px;
        font-weight: 400;
    }

}