.register__container{
    padding: 128px 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: var(--bg-gray-light);
}

.register__title{
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}

.register__form{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.register__inputs__container{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.register__input{
    padding: 8px 16px;
    border: none;
    border-bottom: 2px solid var(--border-input);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: var(--color-gray-light);
    width: 275px;
    transition: width .5s ease-in-out;
}

.register__btn__container{
    display: flex;
    justify-content: center;
}

.register__btn{
    width: 109px;
    padding: 12px 16px;
    background-color: var(--color-blue);

    font-size: 14px;
    font-weight: 600;
    color: var(--color-white);

    transition: width .5s ease-in-out;
}

.register__info{
    display: flex;
    justify-content: center
}

@media screen and (min-width: 768px) {
    
    .register__input{
        width: 400px;
    }

    .register__btn{
        width: 433px;
    }

}