/* RESET */
@import url("/src/helpers/reset.css");

/* NAV */
@import url("/src/components/nav/nav.css");

/* PRODUCT CARD */
@import url("/src/components/product-card/product-card.css");

/* FOOTER */
@import url("/src/components/footer/footer.css");

/* LOADER */
@import url("/src/components/loader/loader.css");

/* NAV PANEL */
@import url("/src/components/panel/nav-panel/nav-panel.css");

/* SEARCH COMPONENT */
@import url("/src/components/search/search-component/search-component.css");

:root{
    --color-white: #FFFFFF;
    --color-blue: #2A7AE4;
    --color-blue-bold: #1b5198;
    --color-gray: #464646;
    --color-gray-light: #A2A2A2;
    --color-red:  #FF0000;
    --color-green: #1fb41f;
    --bg-gray: #F5F5F5;
    --bg-gray-light: #F5F5F5;
    --bg-gray-light-transparent: #f5f5f53b;
    --bg-blue-light: #EAF2FD;
    --border-input: #C8C8C8;
}

.root{
    transition: all .5s ease-in-out;
}

body, textarea{
    font-family: 'Raleway';
}

textarea:focus, input:focus{
    outline: none;
}