.nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    gap: 10px;
    transition: all .5s ease-in-out;
}

/* CONTENEDOR LOGO - SEARCH */
.nav__logo__search{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

/* LOGO */
.nav__logo{
    width: 100px;
    height: 28px;
}

.nav__img{
    width: 100px;
    height: 28px;
}

/* BUTTONS */

.nav__buttons{
    display: flex;
    justify-content: center;
}

.buttons__list{
    display: flex;
    justify-content: center;
    gap: 5px;
}

.buttons__item{
    display: flex;
    justify-content: center;
    padding: 12px 16px;
    border: 1px solid var(--color-blue);
    width: 100px;

    color: var(--color-blue);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
}


@media screen and (min-width: 768px) {
    
    .nav{
        padding: 16px 32px;
        flex-direction: row;
    }

    .nav__logo__search{
        justify-content: flex-start;
        width: 50%;
    }

    .buttons__item{
        width: 133px;
    }


}

@media screen and (min-width: 1220px) {

    .nav{
        padding: 32px 152px;
    }
    
}